@charset "UTF-8";
/*------------- #CUSTOM SCRIPTS FOR APP --------- */

@media (min-width: 799px){
  .mobile-only{
    display: none;
  }
}
@media (max-width: 799px){
  .web-only{
    display: none;
  }

}

@media(max-width :540px){
  .modal-dialog{
   margin:0px auto !important
  }
  .modal-dialog.has-widgets{
    margin: 1.75rem auto !important;
    margin-bottom:0px !important;
  }
}

img.custom-bg {
  background: #888DA8;
  background: -webkit-radial-gradient(top, #888DA8, #2C304A);
  background: -moz-radial-gradient(top, #888DA8, #2C304A);
  background: radial-gradient(to bottom, #888DA8, #2C304A);
}

.loader-activity {
    overflow: hidden;
    width: 250px;
    max-width: 80%;
    height: 5px;
    background-color: #888da8;
    margin: 20px auto;
    border-radius: 100px;
}
.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #F8AC09;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #F8AC09;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}  

.owl-carousel{
  touch-action: manipulation !important; 
}

.owl-carousel .owl-stage {
  padding-left: 0px !important
}

.modal { overflow-y: auto; } 

.svg-error-icon{
  width: 400px !important;
  height: auto;
  fill:#2c304a !important
}
.heading-text{
  font-size: 18px;
}
.crumina-heading{
  margin-top: 70px;

}
@media (max-width: 720px){
  .crumina-heading{
    margin-top: 0px;
  }
  .svg-error-icon{
    max-width: 85% !important;
    height:200px !important;
  }   
  .heading-text{
    font-size: 14px;
  } 
}
/* index header */

.reset_password_btn{
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 30px
}

  .no-border{
    border: none !important;
  }
@media (max-width: 720px){
  .registration-login-form{
    border-radius: 5px !important
  }

  .fs-tab-container{
      height: 100%;
      min-height: 1000px;
      position: absolute;
      width: 100%;
      /* left: 0px; */
      background: white; 
      /* top: 0px; */
      overflow-y: scroll !important;
  }  
}

.offline-message, .online-message{
    position:fixed;
    transform:translateY(-200%);
    transition:all 350ms ease;
    top:20px;
    left:0px;
    right:0px;
    z-index:9999;
    line-height:55px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase; 
    opacity: .8;
    border-radius: 5px; 
    max-width: 500px;     
}

.offline-message {
  background-color: darkred;
}

.online-message {
  background-color: lightgreen
}
.offline-message-active, .online-message-active{transform:translateY(0%);}

.top-header-author .author-thumb img{
  width: 100%;
  height: 100%
}

.modal_preview{
  display: block;
  width: 100% !important;
}

.imagePreview{
  min-width: 260px;
  max-width: 100%;
  max-height: 100%;
}  
.newUpload {
  position: absolute;
  left: 0px;
  top:0px;
  height: 100%;
  width: 100%;
  opacity: 0
}
.upload-action-btns{
  padding:12px 10px 0px 10px;
  width: 100%;
  display: block;
}
.upload-action-btns svg{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  fill: #9A9FBF
}
.upload-action-btns svg:active, .upload-action-btns svg:hover{
  fill: #F8AC09;
  background-color: #FEFFE3;
}
.modal_preview,.upload-action-btns{
  display:none
}

/*Hide active profile menu item*/

.profile-menu .active-li a{
  font-weight: 900 !important;
  color: #F8AE02 !important;
}

/* PORTFOLIO PAGE */

.add-image {
  cursor: pointer;
  padding:7px 12px;
  border-radius:5px;
  text-align: center
}
.add-image:hover,.add-image:active{
  background:rgba(248, 174, 2, .21);
}
.add-image svg{
  width: 11px;
  height: 11px;
  margin-left: 5px
}

.comment-form{
  padding:0px !important;
  border-top: 0px !important;
}
.comment-form .form-group{
  width: 100% !important
}
.upload-image-container{
  display: block;
  text-align: center;
  margin: 0 auto;
  border-bottom:1px dashed rgba(52, 55, 75, .61);
}
.upload-image-container .file-upload{
  width: 100%
}
.upload-image-container .file-upload .file-upload__label{     
  transition: all 0.2s ease-in-out;
  text-align: center;
  padding:20px ;
}
.upload-image-container .file-upload .file-upload__label svg{
  width: auto;
  height: 80px;
  fill: #aaa;
}
.upload-image-container .file-upload .file-upload__label p{
  color:#aaa;
  margin-top: 10px;
  font-size: 14px;
} 
.upload-image-container .file-upload .file-upload__label:hover {
  cursor: pointer;
  background-color: transparent;
} 

.likeBtn.liked{
  background: #F8AC09;
}

.likeText.liked svg{
  fill:#F8AC09 !important;
}

.likeText.liked span{
  font-size: 15;
  color:#F8AC09;
}

.status-form textarea {
  min-height: 100px;
  padding-top: 30px !important;
  height: 100px;
  transition: all .3s ease; }
.status-form textarea:focus {
  min-height: 150px; }

  /* user Portfolio */

  #all-portfolio-header,#featured-portfolio-header,#all-portfolio-container,#featured-portfolio-container,#howto-featured{
    display: none;
  }
  #root{
    height: 100px;
  }
  .featured_client{
    text-transform: uppercase;
  }
  .readmore{
    font-size: 16px
  }
  .portfolioTimeline{
    max-height: 270px !important;
  }
  #update-portfolio .modal-footer{
    display: none;
  }
  #detailed-portfolio .outline-loader img{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #detailed-portfolio .modal-body .swiper-wrapper .photo-item{
    max-height: 570px !important;
    width: auto;
  }

  .modal .modal-body .swiper-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center
  }

  /*User Bids */

  #all-bid-container,#featured-bid-container,#howto-featured,#bid-sort-container{
    display: none;
  }
  #root{
    height: 100px
  }
  .featured_client{
    text-transform: uppercase;
  }
  .readmore{
    font-size: 16px
  }
  .bidTimeline{
    max-height: 270px !important;
  }
  #update-bid .modal-footer{
    display: none;
  }
  #detailed-bid .outline-loader img{
    width: 80px;
    height: auto;
    margin-bottom: 80px;
  } 
  .badge{
    color:white !important;
    font-size: 10px;
    margin:3px 5px;
    font-weight: normal;
    padding:5px ;
  }

  #detailed-bid .comment-form, #detailed-status .comment-form{
    margin: 30px 5px 30px 10px;
  }
  .add-options-message button:disabled{
    background: transparent;
    border:none;
  }
  .comments-list {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4%;
  }
  #imageUploadStatus{
    position: absolute;
    bottom: 10px;
    left: 15px;     
    color: #aaaaaa;
  }
  
  .tagPortfolioContainer{
    display: none;
  }
  #taggedPortfolio{
    position: absolute;
    bottom: 10px;
    right: 15px;      
    color: #f8ac09;
    border:1px dashed #F8AC09;
    border-radius: 3px;
    padding: 3px 5px;
    display: none;
  }
  .dropdown-menu .author-thumb img{
    width: 30px !important;
    height: 30px
  }
  #status-container{
    display: none;
  }
  .modal-content .close{
    display: none;
  }

    .sections section:last-child{
    margin-bottom: 10px
  }

  .sections .ui-block-title{
    border : none;
    padding:0px;
  }

  .sections .ui-block-title .title {
    color: #dee2e6
  }

  .w-last-video li {
    margin-bottom: 10px;
  } 
  .outside-content h5{
    color: #888da8
  }
  .sections section.section{
    display: none;
  }
  .news-feed-form{
    border-radius:5px
  }

  #portfolio-section .post-thumb img{
    height: 190px;
    object-fit: cover;
  }

  #portfolio-section .blog-post .post-title{
    margin-bottom: .5rem
  }

  #portfolio-section{
    margin-bottom: 20px
  }

  .sendBox{
    display: none;
  }

  #users-section .w-last-video li img{
    width: 90px;
    height:90px;
    background-color: #515365;
    border-radius: 50%;
    margin : 0 auto;
  }

  #users-section .w-last-video li::after{
    content: none;
  }

  #users-section .w-last-video {
    text-align: center;
  }

  #users-section .w-last-video .outside-content .name{
    color:white;
  }

  #users-section .w-last-video .outside-content .profession{
    font-size: 12px
  }

  @media(max-width:798px){
    .window-popup{
      min-width: 100%;
    }
    .modal.fullheight .modal-content{
      min-height: 100vh
    }
  }

  /*DARKMODE*/

  body.darkmode{
    background:#131417;
  }

  .darkmode #hellopreloader{
    background: #2c304a;
  }
  .darkmode #requestpreloader{
    background: rgba(52, 55, 75, .8)
  }

  .darkmode .btn-more{
    background : #2c304a
  }

  .darkmode .ui-block{
    background-color: #1F2229;
    border:none;

  }
  .darkmode .ui-block article{
    border-bottom: none;
  }

  .darkmode .ui-block-title{
    border-bottom: 1px solid #f8ac09;
    border-top: 1px solid #f8ac09;
  }


  .darkmode .ui-block-title .title{
    color: #dee2e6;
  }

  .darkmode .post-additional-info{
    border-top: none;
    padding: none;
  }

  .darkmode .profile-menu li > div, .darkmode .profile-menu li a {
    color: #888da8;
}
  
  .darkmode .h1,.darkmode .h2,.darkmode .h3,.darkmode .h4,.darkmode .h5,.darkmode .h6{
    color: #dee2e6;
  }

  .darkmode .fixed-sidebar-left{
    background-color: #2c304a;
    box-shadow: none;
  }

  .darkmode .control-block .author-subtitle{
    color:#dee2e6;
  }

  .darkmode .left-menu a{
    color:#dee2e6;
  }
  .darkmode .left-menu .left-menu-icon{
    fill : #dee2e6
  }

  .darkmode .modal-header{
    border-bottom: 1px solid #2c304a;
  }
  .darkmode .modal-header .title{
    color:#dee2e6;
  }
  .darkmode .modal-footer{
    border-top: 1px solid #2c304a;
  }
  .darkmode .modal-content{
    background-color: #1F2229;
    border: 1px solid #2c304a;
  }
  .darkmode .form-control, .darkmode input{
    border: 1px solid #2c304a;
    border-right: 2px solid #2c304a;
    border-bottom:2px solid #2c304a;
    color:#F8AC09;
  }

  .darkmode .more-dropdown, .darkmode .dropdown-menu{
    background-color: #2c304a;
  }

  .darkmode .more-dropdown a, .darkmode .dropdown-menu a{
    color: #888da8;
  }

  .darkmode .event-description{
    border-left: 1px solid #2c304a;
  }

  .darkmode .top-header-author .author-thumb{
    border: 5px solid #2c304a;
    background-color: #2c304a;
  }

  .darkmode .post{
    border-bottom: 1px solid #2c304a;
  }

  .darkmode .comments-list{
    background-color: #131417;
  }

  .darkmode .comment-item{
    background-color: #131417;
    border-bottom: none;
  }

  .darkmode .swal-modal{
    background-color: #2c304a;
  }

  .darkmode .w-personal-info li .title{
    color:#dee2e6;
  }
  .darkmode .socials li a {
    color : #F8AC09;
  }
  .darkmode .swal-title{
    color : #dee2e6
  }
  .darkmode .swal-text{
    color: #888da8;
    text-align:center
  }

  .darkmode .swal-button{
    background-color:#888da8
  }

  .darkmode .swal-icon--success:after, .swal-icon--success:before{
    background : #2c304a
  }
  .darkmode .swal-icon--success__hide-corners{
    background : #2c304a
  }

  .darkmode .btn-secondary{
    background: #34374b;
    border-color:#34374b;
  }
  .darkmode .bootstrap-select > .dropdown-toggle{
    background-color:#1F2229;
    border:none
  }
  .darkmode .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color:#F8AC09
  }
  .darkmode .bs-searchbox{
    padding:0px
  }

  /* DARK CARDS */
  .darkmode .card,.darkmode .card-header,.darkmode .card-footer{
    background-color: #2c304a;
    border:none;
  }
  .darkmode .card-header a{
    color:#dee2e6;
    fill:#dee2e6;
  }

  .darkmode .nav-tabs .nav-item.show .nav-link, .darkmode .nav-tabs .nav-link.active{
    color: #f8ac09;
    background-color: #2c304a;    
  }

  .darkmode .profile-settings-responsive{
    background-color: #2c304a
  }
  .darkmode .your-profile-menu{
    border-bottom: 1px solid #888da8
  }

  /* Signin page */

  .darkmode.landing-page .content-bg-wrap {
    background:     
      linear-gradient(
        rgba(44,48,74, 0.85), 
        rgba(44,48,74, 0.85)
      ),
      url(../img/bg.jpg); 
      background-size: cover;
      background-attachment: fixed;
      background-position: center;    
  }
  .darkmode.landing-page .content-bg-wrap:before{
    content: none;
  }

  .darkmode .selectize-dropdown{
    background:#2c304a;
    border:0px;
  }
  .darkmode .selectize-dropdown:hover{
   background:#2c304a
  }

  .darkmode .registration-login-form{
    background-color: #1F2229;
    border: 1px solid #1F2229
  }
  .darkmode .registration-login-form .title{
    border-bottom: 1px solid #2c304a
  }
  .darkmode .registration-login-form .nav-link{
    background-color: #1F2229;
    border-bottom: 1px solid #2c304a;
    border-top: 1px solid #2c304a;
    border-right : 1px solid #2c304a;
  }
  @media (max-width: 1023px){
    .darkmode .registration-login-form .nav-item:last-child .nav-link {
        border-bottom: 1px solid #2c304a;
    }
  }  
  .darkmode .or{
    background-color: #2c304a
  }
  .darkmode .or:after{
    background-color: #1F2229
  }
  .darkmode .account-settings svg {
    fill :#dee2e6;
  }
  .swal-overlay:before {
    vertical-align: bottom;
  }


/* SETTINGS PAGE*/

/*Estimate Section */

.estimate-box{
  height: 120px;
  width: 100%;
  max-width: 190px;
  display: inline-block;
}

.estimate-box input[type=checkbox],.estimate-box .icon{
  position: relative;
  top:0px;
  height: 100%;
  width: 100%;
  left:1.5px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.estimate-box input:checked + .icon svg{
  fill:#dee2e6 !important;
}
.estimate-box input:checked + .icon p{
  color:#dee2e6 !important;
}
.estimate-box input:checked + .icon{
  background :linear-gradient(to left bottom , #F8AC09 , #e06433);
  -webkit-transition:all .35s linear;
  -ms-transition:all .35s linear;
  -o-transition:all .35s linear;
  transition:all .35s linear;

}
.estimate-box .icon{
  -webkit-transition:all .35s linear;
  -ms-transition:all .35s linear;
  -o-transition:all .35s linear;
  transition:all .35s linear;
  top: -120%;
  z-index: 1;
  opacity: 1;
  border-radius:10px;
  box-shadow: 0px 0px 25px rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  background:#dee2e6;
  align-content: center;
}
.estimate-box svg {
  width: 50px;
  height: 80px;
  margin:auto;
  text-align: center;
  fill:#F8AC09;
}
.estimate-box .icon .id p{
  text-align: center;
  font-family: 'Poppins',sans-serif;
  text-transform: uppercase;
  color:#F8AC09;
  font-size:12px !important;
} 

.estimate-form .row .col-6{
  max-height: 150px !important
}

.estimate-form .interest-view .img-nav{
  width: 110px;
  margin-left: auto;
  cursor: pointer;
  padding-right: 10px
}

.cell-action a{
  color:#888da8;
  padding: 4px 10px;
}

/*sTATUSES*/
.darkmode .news-feed-form .nav-tabs{
  background-color: #2c304a;
}
.darkmode .news-feed-form .nav-tabs .nav-link{
  border:0px !important;
}
.no_feed{
  text-align: center;     
}
.no_feed svg{
  width: 100%;
  height: auto;
  margin:20px 0;
}
#newsfeed-items-grid .ui-block{
  margin-top: 30px
}
.post-thumb img{
  height: auto;
  width: 100vh;
  object-fit: cover;
}
.statusImages{
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}   
.statusImages .cell{
  background-size:cover;
  border-radius:5px
}
#recentPortfolio img,#recentBids img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-left: -10px;     
}

.installAppPrompt{
  display:none
}

/* Webchat custom css */

#fc_frame, #fc_frame.fc-widget-normal{
  z-index :1049 !important;
  /* Keep chat widget below swal and modals */
}

.star-rating {
  position: relative;
  width: 100px;
  margin: 10px auto 0px auto;
} 
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
} 
.star-rating img{
  max-width: 100px;
}	

.u-average-rating{
  padding-bottom:8px;
  margin-top:5px;
  height:1px;
}

@media(max-width:799px){
  .u-average-rating{
    width:80px;

  }
  .u-average-rating img{
    max-width:80px;
  }
}